@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;1,400&family=Varela+Round&display=swap');
body {
    background-color: black;
}
* {
    margin: 0;
    padding: 0;
}
nav{
    font-family: 'Ubuntu', sans-serif;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: rgb(44, 42, 42);
    color: white;
}
nav ul li{
    padding: 0 15px;
    font-weight: bolder;
}
.brand {
    display: flex; 
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.brand img{
    width: 44px;
    padding: 0 8px;

}
.container{
    min-height: 72vh;
    background-color: rgb(32, 32, 32);
    font-family: 'Varela Round', sans-serif;
    color: white;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url(bg.png);
    background-repeat: no-repeat, no-repeat;
    background-size: cover, 20%;
    background-position: center center ,left top;
    height: 100%;
}
.bottom {
    position: sticky;
    bottom: 0;
    height: 130px;
    background-color: rgb(44, 42, 42);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icons {
    margin-top: 15px;
}
.icons svg{
    cursor: pointer;
    width: 60px;
}
#myProgressBar{
    width: 80vw;
}

.songItemContainer{
    margin-top: 54px;
}
.songItem{
    font-family: 'Varela Round', sans-serif;
    font-weight: bolder;
    height: 40px;
    display: flex;
    background-color: rgb(30, 215, 96);
    color: rgb(0, 0, 0);
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem img{
    width: 44px;
    margin: 0 1px;
    border-radius: 34px;
}
.timestamp{
    margin: 0 23px;
}
.timestamp i{
    cursor: pointer;
}
.songInfo{
    position: absolute;
    left: 10vw;
}
.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

